@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    line-height: 1.5em;
    /*   background:#E0E4CC; */
    background: #69d2e7;
    background: -moz-linear-gradient(-45deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
    background: -webkit-linear-gradient(-45deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
    background: linear-gradient(135deg, #69d2e7 0%, #a7dbd8 25%, #e0e4cc 46%, #e0e4cc 54%, #f38630 75%, #fa6900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d2e7', endColorstr='#fa6900', GradientType=1);
}

hr {
    border: none;
    background: #E0E4CC;
    height: 1px;
    /*   width:60%;
  display:block;
  margin-left:0; */
}

.cross {
    position: absolute;
    top: 0;
    left: 0;
    background: #F38630;
    border-radius: 50%;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 1em auto;
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
}

.productcont {
    display: flex;
}

.product {
    padding: 1em;
    border: 1px solid #E0E4CC;
    margin-right: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.total-button-a {
    color: white;
    text-decoration: none;
}

.cart-container {
    border: 1px solid #E0E4CC;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

.cart-text {
    text-align: center;
    width: 100%;
}

.cart {
    height: 20%;
    border: 1px dashed #FA6900;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    padding: 2rem;
    align-items: center;
}

.space {
    padding: 1rem;
}

button,
input[type="submit"] {
    border: 1px solid #FA6900;
    color: #fff;
    background: #F38630;
    padding: 0.6em 1em;
    font-size: 1em;
    line-height: 1;
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
    background: #A7DBD8;
    border-color: #69D2E7;
    color: #000;
    cursor: pointer;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

table td,
table th {
    text-align: left;
    padding: 0.25em 1em;
    border-bottom: 1px solid #E0E4CC;
}

#carttotals {
    margin-right: 0;
    margin-left: auto;
}

.cart-buttons {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}

#emptycart {
    margin-right: 1em;
}

table td:nth-last-child(1) {
    text-align: right;
}

.cart {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.about-book-cart p {
    font-size: 14px;
}

.book-cart {
    position: relative;
}

.book-cart img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.imgWrap {
    width: 200px;
    height: 200px;
    margin: 0;
}

p {
    margin: 0;
}

.cart {
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #A7DBD8;
    color: #679996;
    padding: 0.5em 0;
    margin: 1em 0;
}
.show-more{
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 6px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}