body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.form-container {
    padding: 0 20rem;
}

.radio,
.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin: 10px 0;
    display: block;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.details{
    display: none;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.error input {
    border-color: red;
}
.error small {
    color: red;
    margin-bottom: 1rem;
    display: block;
}



a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

.radio input {
    width: auto;
    margin: 0;
}

.radio label {
    margin: 0;
}

.checkbox label {
    margin: 0;
}

.checkbox-wrapper {
    margin-top: 1rem;
}

.checkbox input {
    width: auto;
    margin: 0;
}

/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}